
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1 class="mt-5">Create new Challenge</h1>
    <br/>
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
           {{ form.csrf_token }}
            <div class="form-group">
                {{form.challengename.label}}
                {{form.challengename(placeholder="Challenge Name", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.description.label}}
                {{form.description(placeholder="Description", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.active.label}}
                {{form.active(placeholder="Active?", class_="form-control")}}
            </div>
            <p><input class="btn btn-primary" type="submit" value="Submit Challenge"></p>
    </form>
</div>
{% endblock %}

