
{% extends "layout.html" %}
{% block content %}


<div class="landpage" style="background-image: url({{static_url_for('static', filename='build/img/landing_page1.jpg') }});background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;">
    <div class="overlay" style="text-align: center;padding-top: 200px;color: #fff">
        <h1>Multiply your climate action.</h1><br>
        <div class="btn btn-success"><b>Join In</b></div>
    </div>
</div>

<!-- start our team part -->
<div class="our-team">
    <div class="cotainer">
        <center style="padding: 30px">
        <h3>Meet our team</h3>
      </center>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div><img class="img" src="{{static_url_for('static', filename='build/img/1.png') }}" alt=""></div>
                <div class="prag">
                    <div class="h6">Joachim
                    </div>
                </div>
                <div class="sociallinks">
                  <div class="sociallinks">
                    <ul class="socialFooter clearfix">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-md-2">
                <div><img class="img" src="{{static_url_for('static', filename='build/img/4.png') }}" alt=""></div>
                <div class="prag">
                    <div class="h6">Abdullah
                    </div>
                </div>
                <div class="sociallinks"><div class="sociallinks">
                    <ul class="socialFooter clearfix">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div></div>
            </div>
            <div class="col-md-2">
                <div><img class="img" src="{{static_url_for('static', filename='build/img/2.png') }}" alt=""></div>
                <div class="prag">
                    <div class="h6">Julius
                    </div>
                </div>
                <div class="sociallinks"><div class="sociallinks">
                    <ul class="socialFooter clearfix">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div></div>
            </div>
            <div class="col-md-2">
                <div><img class="img" src="{{static_url_for('static', filename='build/img/3.png') }}" alt=""></div>
                <div class="prag">
                    <div class="h6">Oliver
                    </div>
                </div>
                <div class="sociallinks"><div class="sociallinks">
                    <ul class="socialFooter clearfix">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div></div>
            </div>
            <div class="col-md-2">
                <div><img class="img" src="{{static_url_for('static', filename='build/img/4.png') }}" alt=""></div>
                <div class="prag">
                    <div class="h6">Isabelle
                    </div>
                </div>
                <div class="sociallinks"><div class="sociallinks">
                    <ul class="socialFooter clearfix">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div></div>
            </div>

            <div class="col-md-1"></div>

        </div>
    </div>
</div>
<!-- end our team part -->

{% endblock %}

