
{% extends "layout.html" %}
{% block content %}

<div class="row" style="margin-bottom: 100px">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4 col-m-6">
        <div class="row" style="margin-top: 50px">
            <div class="col-2">
                <img src="{{static_url_for('static', filename='build/img/profileimg.jpg') }}" style="border-radius: 50%;height: 100px">
            </div>
            <div class="col-10" style="font-size: 20pt">
                <b style="font-size: 40pt">{{ current_user.username }}</b>&emsp;vs.&emsp;{{ current_user.country }}
            </div>
        </div>
        <div style="margin-top: 50px;padding-left: 20px;padding-right: 20px">
            <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ total_saved_co2/country_total_co2*100}}%"
                                                                 aria-valuenow="{{total_saved_co2 }}" aria-valuemin="0" aria-valuemax="{{ country_total_co2 }}"></div>
            </div>
        </div>
        <div style="text-align: center;margin-top: 50px;margin-bottom: 50px;font-size: 20pt">
            <span style="font-size: 50pt;font-weight: 500">{{ total_saved_co2 }}</span> / {{ country_total_co2|round(1) }} kg CO<sub>2</sub> last month
        </div>

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #000">
                  Your climate balance
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body" style="margin-left: 10% ">
                <ul>
                    {% for done_challenge in done_challenges %}
                    <li>{{ done_challenge.done_at | datetime }} - {{ done_challenge.challenge.challengename }}: {{ done_challenge.challenge.co2offset }}</li>
                    {% endfor %}
                </ul>
                <br><b>Total saved CO2: {{ total_saved_co2 }} </b>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-4 col-m-6" style="margin-top: 50px;padding-left: 7%;padding-right: 7%">
        {% for challenge in active_challenges %}
        <div class="challenge" style="margin-bottom: 50px;margin-top: 50px;border: 1px solid;border-color: #111;padding: 10px">
            <div class="row">
                <div class="col-8">
                    <b style="font-size: 20pt">{{ challenge.challengename }}</b>
                </div>
                <div class="col-4" style="text-align: right">
                    {% if challenge.user_challenge_association != None %}
                    {% if challenge.user_challenge_association.done_at != None %}
                    {% if challenge.user_challenge_association.succeeded %}
                    <span class="badge badge-secondary">Done</span>
                    {% else %}
                    <span class="badge badge-secondary">Cancelled</span>
                    {% endif %}
                    {% else %}
                    <span class="badge badge-secondary">Committed</span>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div style="text-align: right;padding-top: 20px">
            <p class="span">
                Saving potential: {{ challenge.co2offset }}kg / CO<sub>2</sub><br>
                Number of participants: 102
            </p>
            <a id="detail" href="/challenges/{{ challenge.id }}" class="btn btn-primary btn-large" style="background-color:#5abecd;font-weight: 600;font-size: 15pt;color: #212529">+</a>
            </div>
        </div>
        {% endfor %}
    </div>







    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="profile-panel">

    <div class="row">
        <div class="col-xl-3 col-lg-3">
            <div class="up">
                <img src="{{static_url_for('static', filename='build/img/profileimg.jpg') }}">
                <p>{{ current_user.username }}<br>
                    <span>{{ current_user.country }}</span>
                </p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ total_saved_co2/country_total_co2*100}}%"
                                                             aria-valuenow="{{total_saved_co2 }}" aria-valuemin="0" aria-valuemax="{{ country_total_co2 }}"></div>
                <p>{{ total_saved_co2 }} / {{ country_total_co2 }} </p>
            </div>
            <!-- user useful links -->
            <ul class="list-unstyled user-links">
                <li class="active" data-class=".dailyChallenge"><i class="fa fa-home"></i> Daily Challenge</li>
                <li data-class=".buddyChallenge"><i class="fa fa-users"></i> Challenges Buddies</li>
                <li data-class=".oldChallenge"><i class="fa fa-history"></i> Old Challenges</li>
                <li data-class=".otherLinks"><i class="fa fa-archive"></i> Other links</li>
            </ul>
            <h5>Shortcuts</h5>
            <ul class="shortcuts list-unstyled">
                <li> <a href=""> Today's heights challenge</a></li>
                <li> <a href=""> Challenges Around me </a></li>
                <li> <a href=""> Events</a></li>
                <li> <a href=""> Other Ideas </a></li>
            </ul>
        </div>

        <div class="col-xl-9 col-lg-9">
            <div class="dailyChallenge">
                <h5> <i class="fa fa-home"></i>  Daily Challenges</h5>
                <div class="row">
                    <h2>Done challenges by you</h2>
                    <ul>
                        {% for done_challenge in done_challenges %}
                        <li>{{ done_challenge.done_at | datetime }} - {{ done_challenge.challenge.challengename }}: {{ done_challenge.challenge.co2offset }}</li>
                        {% endfor %}
                        <li><b>Total saved CO2: {{ total_saved_co2 }} </b></li>
                    </ul>
                    <div class="row">
                        {% for challenge in active_challenges %}
                        <div class="col-xl-4 col-md-4 col-sm-12 food">
                            <div class="challenge">
                                <div class="order">
                                    <p class="active">F</p>
                                </div>
                                <div class="inner">
                                    <p class="p">{{ challenge.challengename }}
                                        {% if challenge.user_challenge_association != None %}
                                        {% if challenge.user_challenge_association.done_at != None %}
                                        {% if challenge.user_challenge_association.succeeded %}
                                        <span class="badge badge-secondary">Done</span>
                                        {% else %}
                                        <span class="badge badge-secondary">Cancelled</span>
                                        {% endif %}
                                        {% else %}
                                        <span class="badge badge-secondary">Committed</span>
                                        {% endif %}
                                        {% endif %}
                                    </p>
                                    <p class="span">
                                        Saving potential: {{ challenge.co2offset }}kg/co2
                                        Number of participants: 102
                                    </p>
                                    <a id="detail" href="/challenges/{{ challenge.id }}" class="btn btn-primary btn-large">Details</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

